@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main{
  display: grid;
  height: 100vh;
  /* background-color: black; */
  /* color: white; */
}

main > *{
  margin: auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 20rem;
}

.cell {
  border: 2px solid black;
}

.grid > .cell:nth-child(-n + 3) {
  border-top: 0;
}

.grid > .cell:nth-child(n + 3) {
  border-bottom: 0;
}

.grid > .cell:nth-child(3n) {
  border-right: 0;
}

.left-child {
  border-left: 0;
}

.cell{
  /* background-color: white; */
  padding: 3rem;
}

.btn{
  padding: 1rem;
  border: none;
  background-color: lightblue;
  border-radius: 1rem;
  font-weight: 600;
}

.gameOver {
  display: none;
  position: absolute;
  width: 20rem;
  top: 40%;
  left: 50%;
  background-color: black;
  color: white;
  margin-left: -10rem;
  padding: 3rem 0;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
}